<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface" />
  <arg name="max_torque_scale_factor" default="1.0" doc="Scale factor multplied by maximum joint torque value"/>
  <arg name="max_velocity_scale_factor" default="1.0" doc="Scale factor multplied by maximum joint velocity value"/>
  <arg name="x" default="0.0" doc="base_link coordinate with respect to the world frame"/>
  <arg name="y" default="0.0" doc="base_link coordinate with respect to the world frame"/>
  <arg name="z" default="0.0" doc="base_link coordinate with respect to the world frame"/>
  <arg name="roll" default="0.0" doc="base_link coordinate with respect to the world frame"/>
  <arg name="pitch" default="0.0" doc="base_link coordinate with respect to the world frame"/>
  <arg name="yaw" default="0.0" doc="base_link coordinate with respect to the world frame"/>


  <param unless="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur10_robot.urdf.xacro'
    transmission_hw_interface:=$(arg transmission_hw_interface)
    max_torque_scale_factor:=$(arg max_torque_scale_factor)
    max_velocity_scale_factor:=$(arg max_velocity_scale_factor)
    x:=$(arg x)
    y:=$(arg y)
    z:=$(arg z)
    roll:=$(arg roll)
    pitch:=$(arg pitch)
    yaw:=$(arg yaw)
    " />
  <param if="$(arg limited)" name="robot_description" command="$(find xacro)/xacro --inorder '$(find ur_description)/urdf/ur10_joint_limited_robot.urdf.xacro' transmission_hw_interface:=$(arg transmission_hw_interface)
    max_torque_scale_factor:=$(arg max_torque_scale_factor)
    max_velocity_scale_factor:=$(arg max_velocity_scale_factor)
    x:=$(arg x)
    y:=$(arg y)
    z:=$(arg z)
    roll:=$(arg roll)
    pitch:=$(arg pitch)
    yaw:=$(arg yaw)
    " />
</launch>
