<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  <arg name="world_name" default="worlds/empty.world" doc="Gazebo world name"/>
  <arg name="max_torque_scale_factor" default="1.0" doc="Scale factor multplied by maximum joint torque value"/>
  <arg name="max_velocity_scale_factor" default="1.0" doc="Scale factor multplied by maximum joint velocity value"/>
  <arg name="x" default="0.0" doc="x coordinate of the robot base relative to the world's origin"/>
  <arg name="y" default="0.0" doc="y coordinate of the robot base relative to the world's origin"/>
  <arg name="z" default="0.1" doc="z coordinate of the robot base relative to the world's origin"/>
  <arg name="shoulder_pan_joint" default="0.0" />
  <arg name="shoulder_lift_joint" default="0.0" />
  <arg name="elbow_joint" default="0.0" />
  <arg name="wrist_1_joint" default="0.0" />
  <arg name="wrist_2_joint" default="0.0" />
  <arg name="wrist_3_joint" default="0.0" />

  <arg name="paused_tag" value="-unpause" unless="$(arg paused)"/>
  <arg name="paused_tag" value="" if="$(arg paused)"/>


  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="true"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send robot urdf to param server -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
    <arg name="max_torque_scale_factor" value="$(arg max_torque_scale_factor)"/>
    <arg name="max_velocity_scale_factor" value="$(arg max_velocity_scale_factor)"/>
  </include>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot
    -x $(arg x) -y $(arg y) -z $(arg z)
    -J shoulder_pan_joint $(arg shoulder_pan_joint)
    -J shoulder_lift_joint $(arg shoulder_lift_joint)
    -J elbow_joint $(arg elbow_joint)
    -J wrist_1_joint $(arg wrist_1_joint)
    -J wrist_2_joint $(arg wrist_2_joint)
    -J wrist_3_joint $(arg wrist_3_joint)
    $(arg paused_tag)" respawn="false" output="screen"/>

  <include file="$(find ur_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find ur_gazebo)/controller/arm_controller_ur10.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />

</launch>
